/* --------- GLOBAL STYLING -----------*/

/* Imorting BrightWater font */
@font-face {
    font-family: MorebiRounded;
    src: url('fonts/MorebiRounded-Regular.otf');
}

h1{
    font-family: MorebiRounded;
    font-weight: lighter;
    font-size: 15px;
    margin: 0;
}

body, h2, h3, p{
    font-family: 'Urbanist', sans-serif;
    font-size: 16px;
    margin: 0;
}

h3{
    font-family: MorebiRounded;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}

img{
    width: 2em;
    height: auto;

    /* Centre all Images */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* ------------------------------------ */










/*---------- HEADER ------------*/
header{
    background-color: rgb(45, 39, 122);
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navigation{
    display: none;
    padding: 20px;
}

.hamburger_navigation{
    padding: 20px;
}

/* ==== DROP DOWN MENU ==== */

/* Hide Drop-down-menu by default */
.dropDownMenu{
    display: none;
}

/* Position & style Drop-Down-Menu when active */
.hamburger_navigation label input:checked ~ .dropDownMenu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: rgb(45, 39, 122);
}

/* Position links in Drop-Down-Menu */
.dropDownMenu div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 25px;
}
/* Style links */
.dropDownMenu div a{
    padding: 10px;
    font-size: 1.5em;
    border-top: 1px solid rgba(255,255,255,.1);
}
.dropDownMenu div a:last-of-type{
    border-bottom: 1px solid rgba(255,255,255,.1);
}

/* Close Menu Image */
.dropDownMenu a img{
    padding-top: 35px;
    padding-left: 20px;
    width: 2.5em;
    height: auto;
}
/* Rainbow Strip Image */
.dropDownMenu img:last-of-type{
    margin: 0px;
}

/* Hide check-box */
.hamburger_navigation label input{
    display: none;
}
/* =========================== */




.logo{
    order: 0;
    justify-content: center;
    padding: 20px;
}
.logo img{
    width: 3em;
    height: auto;
}

.search{
    order: 1;
    justify-content: center;
    padding: 20px;
}

.colouredLine{
    padding: 0;
    margin-bottom: 10px;
    height: 5px;
    width: 100%;
}
/*-----------------------------*/




/*----------- MAIN ------------*/

main{
    display: flex;
    flex-direction: column;
}

/* ===CARDS=== */
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    margin: 15px;
}   
.card p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
}
.card img{
    width: 20em;
    height: auto;
    padding: 0px;
    margin-bottom: 0;
}
.card a{
    color: black;
}
.card:hover p{
    font-size: 1.2em;
    /* text-shadow: 1px 1px; */
}


/* ===BUTTONS=== */
.buttons ul{
    list-style-type: none;
    margin: 10%;
    padding: 25px 0 0 0;
    border-radius: 50px;
}
.buttons li{
    background: linear-gradient(rgb(118, 32, 151), rgb(90, 12, 121));
    border-radius: 25px;
}
.buttons a{
    display: block;
    padding: 50px 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 5px;
}

/*-----------------------------*/




/*----------- FOOTER ------------*/
footer{
    background-color: rgb(45, 39, 122);
    color: white;
    text-align: center;
    font-size: 0.5em;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer p{
    font-size: 1.3em;
    margin: 0;
}
/* ----------------------------- */














/*============== RESPONSIVE DESIGN =============== */


/* =============== LARGE SCREENS ====================*/
@media screen and (min-width: 60em) {

/*----------- ADJUST BLANKET STYLING -----------*/
h3{
    font-size: 2em;
    padding-top: 25px;
    padding-bottom: 25px;
}
/* ---------------------------------------------- */
    

/*----------- ADJUST HEADER -----------*/
/* Swap Navigation Type (Bar to Hamburger)  */
.navigation{
    text-decoration: none;
    color: white;

    display: flex;
    flex: 1 0 40%;
    justify-content: space-between;
}
.navigation h2, a, p{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 1.25em;
}
.hamburger_navigation{
    display: none;
}

/* Adjust Logo size and position  */
.logo{
    display: flex;
    flex: 1 0 auto;
    order: -1;

    justify-content: left;
}
.logo img{
    width: 4em;
    height: auto;
}


/* Adjust search icon size and position  */
.search{
    display: flex;
    flex: 1 0 auto;
    order: 1;

    justify-content: right;
}
.search img{
    width: 3em;
    height: auto;
}
/*-------------------------------------*/


/*------------ ADJUST MAIN ------------*/

.cards{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;

    width: auto;
    height: auto;
}

.card{
    display: flex;
    flex-direction: column;
}


/*-------------------------------------*/

/*------------ ADJUST FOOTER ------------*/


/*---------------------------------------*/
}
/* ===================================================*/













/* =============== MEDIUM SCREENS ====================*/
@media screen and (max-width: 59em) and (min-width: 30em) {
/*------------ ADJUST HEADER ------------*/

/*---------------------------------------*/


/*------------- ADJUST MAIN -------------*/

/*---------------------------------------*/


/*------------ ADJUST FOOTER ------------*/

/*---------------------------------------*/
}
/* ===================================================*/


