/* --------- GLOBAL STYLING -----------*/

/* Imorting BrightWater font */
@font-face {
    font-family: MorebiRounded;
    src: url('fonts/MorebiRounded-Regular.otf');
}
@font-face {
    font-family: MorebiRounded_Bold;
    src: url('fonts/MorebiRounded-Bold.ttf')
}

body, h2, h3, p{
    font-family: MorebiRounded, sans-serif;
    font-size: 16px;
    margin: 0;
}

h1{
    font-weight: lighter;
    font-size: 15px;
    margin: 0;
}

h3{
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
    padding: 10px;
}

a{
    text-decoration: none;
    color: white;
}

img{
    width: 2em;
    height: auto;

    /* Centre all Images */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* ------------------------------------ */

















/*---------- HEADER ------------*/
header{
    background: linear-gradient(to left top,rgb(25, 37, 82), rgb(39, 57, 121));
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navigation{
    display: none;
    padding: 20px;
}
/* .navigation a:hover{
    color: rgba(60, 200, 255, 0.445);
} */

.hamburger_navigation{
    padding: 20px;
}

/* ==== DROP DOWN MENU ==== */

/* Hide Drop-down-menu by default */
.dropDownMenu{
    display: none;
}

/* Position & style Drop-Down-Menu when active */
.hamburger_navigation label input:checked ~ .dropDownMenu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    background-color: #202f66;
}

/* Position links in Drop-Down-Menu */
.dropDownMenu div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 25px;
}
/* Style links */
.dropDownMenu div a{
    padding: 10px;
    font-size: 1.5em;
    border-top: 1px solid rgba(255,255,255,.1);
}
.dropDownMenu div a:last-of-type{
    border-bottom: 1px solid rgba(255,255,255,.1);
}

/* Close Menu Image */
.dropDownMenu a img{
    padding-top: 35px;
    padding-left: 20px;
    width: 2.5em;
    height: auto;
}
/* Rainbow Strip Image */
.dropDownMenu img:last-of-type{
    margin: 0px;
}

/* Hide check-box */
.hamburger_navigation label input{
    display: none;
}
/* =========================== */

.logo{
    order: 0;
    justify-content: center;
    padding: 20px;
}
.logo img{
    width: 3em;
    height: auto;
}

.search{
    order: 1;
    justify-content: center;
    padding: 20px;
}

.colouredLine{
    padding: 0;
    height: 5px;
    width: 100%;
}
/*-----------------------------*/




/*----------- MAIN ------------*/

main{
    display: flex;
    flex-direction: column;
}

/* ===CARDS=== */
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    margin: 15px;
}   
.card p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
}
.card figure{
    background-color: rgba(60, 200, 255, 0.445);
    border-radius: 25%;
}
.card img{
    width: 20em;
    height: auto;
    padding: 0px;
    margin-bottom: 0;
}
.card a{
    color: black;
}
.card:hover figure{
    background-color: rgba(60, 200, 255, 0.589);
}
.card:hover a p{
    font-family: MorebiRounded_Bold;
    font-size: 1.16em;
}



/* ===BUTTONS=== */
.buttons ul{
    list-style-type: none;
    width: fit-content;
    padding: 60px;
    margin: auto;
}
.buttons li{
    background: linear-gradient(rgb(133, 37, 172), rgb(81, 11, 109));
    border-radius: 25px;
}
.buttons a{
    display: block;
    padding: 25px 25px;
    text-align: center;
    font-weight: bold;
}

/*-----------------------------*/




/*----------- FOOTER ------------*/
footer{
    /* Position content in footer vertically and in the centre*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;

    /* Style Footer */
    background: linear-gradient(to left top,rgb(25, 37, 82), rgb(39, 57, 121));
    color: white;
}

/* Position and style Brightwater Logo in footer */
footer section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}
footer section figure{
    margin: 0;
    padding: 0;
}
footer section figure img{
    width: 3em;
    height: auto;
    margin: 0;
    padding: 0;
}
footer section h1{
    font-size: 2em;
    margin: 5px;
}

/* Position and style contact div in footer */
.contact{
    flex-direction: column;
    margin: 10px;
}
.contact p{
    font-size: 1.2em;
}
.contact p:last-of-type{
    font-family: MorebiRounded_Bold;
    font-size: 1.5em;
}


.socials{
    margin: 10px; 
    flex-direction: column;
}
.socials ul{
    display: flex;              /* Arrange items to horizontally stack */
    justify-content: center;     /* Set alignment to the centre */

    list-style-type: none;
    margin: 0;
    padding: 0;
}
.socials li{
    font-size: 1.5em;
    margin: 10px;
}

.copyRight{
    flex-direction: column;
    text-align: left;
    margin: 10px 80px;
}
.copyRight p{
    font-size: 0.75em;
    margin: 5px 0;
}

/* ----------------------------- */





















/*============== RESPONSIVE DESIGN =============== */


/* =============== LARGE SCREENS ====================*/
@media screen and (min-width: 60em) {

/*----------- ADJUST BLANKET STYLING -----------*/
h3{
    font-size: 2em;
    padding-top: 25px;
    padding-bottom: 25px;
}
/* ---------------------------------------------- */
    

/*----------- ADJUST HEADER -----------*/
/* Swap Navigation Type (Bar to Hamburger)  */
.navigation{
    text-decoration: none;
    color: white;

    display: flex;
    flex: 1 0 40%;
    justify-content: space-between;
}
.navigation h2, a, p{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 1.25em;
}
.hamburger_navigation{
    display: none;
}

/* Adjust Logo size and position  */
.logo{
    display: flex;
    flex: 1 0 auto;
    order: -1;

    justify-content: left;
}
.logo img{
    width: 4em;
    height: auto;
}


/* Adjust search icon size and position  */
.search{
    display: flex;
    flex: 1 0 auto;
    order: 1;

    justify-content: right;
}
.search img{
    width: 3em;
    height: auto;
}
/*-------------------------------------*/


/*------------ ADJUST MAIN ------------*/
.cards{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;

    width: auto;
    height: auto;
}

.card{
    display: flex;
    flex-direction: column;
}


.buttons ul{
    padding: 80px;
}
.buttons a{
    padding: 50px 50px;
    font-size: 2em;
}
/*-------------------------------------*/

/*------------ ADJUST FOOTER ------------*/
footer{
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
}
footer section figure img{
    width: 4em;
    height: auto;
}
footer section h1{
    padding-top: 5px;
    font-size: 2em;
}

footer .socials{
    font-size: 1em;
}
footer .socials a{
    font-size: 1.5em;
}


/*---------------------------------------*/
}
/* ===================================================*/




